jobs:
  include:
  - language: python
    python: 3.6
    env: TOXENV=cypress-dashboard
    services:
    - redis-server
    before_install:
    - nvm install 10.14.2
  - language: python
    python: 3.6
    env: TOXENV=cypress-explore
    services:
    - redis-server
    before_install:
    - nvm install 10.14.2
  - language: python
    python: 3.6
    env: TOXENV=cypress-sqllab
    services:
    - redis-server
    before_install:
    - nvm install 10.14.2
  - language: python
    python: 3.6
    env: TOXENV=py36-mysql
    services:
    - mysql
    - redis-server
    before_script:
    - mysql -u root -e "DROP DATABASE IF EXISTS superset; CREATE DATABASE superset
      DEFAULT CHARACTER SET utf8 COLLATE utf8_unicode_ci"
    - mysql -u root -e "CREATE USER 'mysqluser'@'localhost' IDENTIFIED BY 'mysqluserpassword';"
    - mysql -u root -e "GRANT ALL ON superset.* TO 'mysqluser'@'localhost';"
  - language: python
    env: TOXENV=javascript
    before_install:
    - nvm install 10.14.2
  - language: python
    python: 3.6
    env: TOXENV=black
  - language: python
    python: 3.6
    env: TOXENV=flake8
  - language: python
    python: 3.6
    env: TOXENV=py36-sqlite
    services:
    - redis-server
  - language: python
    python: 3.6
    env: TOXENV=py36-postgres
    services:
    - postgres
    - redis-server
    before_script:
    - psql -U postgres -c "CREATE DATABASE superset;"
    - psql -U postgres -c "CREATE USER postgresuser WITH PASSWORD 'pguserpassword';"
  - language: python
    python: 3.6
    env: TOXENV=pylint
  - language: python
    python: 3.6
    env:
    - TOXENV=license-check
    - TRAVIS_CACHE=$HOME/.travis_cache/
    jdk:
    - oraclejdk8
    before_install:
    - jdk_switcher use oraclejdk8
install:
- pip install --upgrade pip
- pip install codecov tox
cache:
  pip: true
  directories:
  - ~/.npm
  - ~/.cache
  - ~/.travis_cache/
  - superset/assets/.terser-plugin-cache/
before_script:
- bash test_mypy.sh
before_install:
- openssl aes-256-cbc -K $MY_KEY -iv $MY_IV -in root_key.enc -out root_key -d
script:
- echo "SCRIPT SECTION"
